.menuContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.defaultMenuImage {
  align-self: flex-end;
  max-width: 50%;
  transition: opacity 0.3s ease-in;
}

@media (max-width: 600px) {
  .menuContainer {
    flex-direction: column-reverse;
  }

  .defaultMenuImage {
    display: flex;
    justify-content: center;
    align-self: flex-start;
    max-width: none;
    width: 100%;
    transition: opacity 0.3s ease-in;
  }
}
