.galleryImageContainer {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-right: 302px;
}

.galleryImage {
  height: 100%;
  max-width: 100vw;
  object-fit: contain;
}

.caption {
  margin-top: 30px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 600px) {
  .galleryImageContainer {
    margin-right: 50px;
  }
}
