.menuImage {
  position: absolute;
  right: 0;
  bottom: 0;
}

.gallery {
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-right: 70px;
}

.galleryImage {
  margin-right: 110px;
}