.gallery {
  display: flex;
  align-items: center;
  height: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}

.description {
  height: 100%;
  min-width: 450px;
  margin-right: 302px;
}

.descriptionText {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
}

.textBlock {
  height: 100%;
  min-width: 460px;
  margin-right: 302px;
  overflow-y: auto;
  font-size: 16px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.9);
}

.youtubeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-right: 302px;
}

.youtube {
  width: 1200px;
  height: 100%;
}

@media (max-width: 960px) {
  .youtube {
    width: 900px;
  }
}

@media (max-width: 600px) {
  .gallery {
    padding-top: 57px;
  }

  .description {
    margin-right: 70px;
  }

  .description {
    min-width: 320px;
  }

  .youtube {
    width: 550px;
  }

  .textBlock {
    margin-right: 50px;
  }
}

@media (max-width: 360px) {
  .youtube {
    width: 320px;
  }

  .textBlock {
    min-width: 320px;
  }
}
