.menu,
.secondMenu,
.secondMenuContainer {
  display: none;
}

@media (max-width: 600px) {
  .menu {
    display: block;
    align-self: flex-start;
  }

  .secondMenuContainer {
    position: fixed;
    z-index: 2;
    display: block;
    bottom: 30px;
    left: 0;
  }

  .secondMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 10px;
    cursor: pointer;
  }

  .secondMenuOverlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 0.3s ease-in;
  }

  .secondMenuListContainer {
    position: fixed;
    bottom: 30px;
    left: 0;
    padding: 0 10px;
  }

  .menuItem {
    margin-top: 10px;
  }

  .menuLink {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.9);
    transition: color 0.3s ease-in-out;
  }

  .menuLink.isActive {
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.4);
  }

  .menuLink:hover {
    color: #ffffff;
  }

  .menuButton {
    display: flex;
    padding: 0;
    border: none;
    font: inherit;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    background-color: transparent;
    cursor: pointer;
    text-align: left;
  }

  .menuButton:focus {
    outline: none;
  }

  .menuButton:focus-visible {
    outline: 1px solid white;
  }
}
