.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 70px;
}

@media (max-width: 600px) {
  .header {
    padding: 30px 10px;
    padding-bottom: 0;
  }
}