.link {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.4);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.link:hover {
  color: #ffffff;
}

@media (max-width: 600px) {
  .contacts {
    top: 35px;
    display: flex;
    flex-direction: column;
    text-align: right;
  }
}
