.contactsContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.contacts {
  position: absolute;
  z-index: 2;
  top: 25px;
  right: 0;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.4);
  transition: color 0.3s ease-in-out;
  white-space: nowrap;
}

.title {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.4);
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.title:hover {
  color: #ffffff;
}

.link {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.9);
  transition: color 0.3s ease-in-out;
}

.link:hover {
  color: #ffffff;
}