.text {
  font-family: 'Helvetica Neue Light';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.4);
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.text:hover {
  color: #ffffff;
}

.main {
  position: relative;
  display: flex;
  justify-content: space-between;
  /* 21px текущая высота хедера, нужно избавиться от магического числа*/
  height: calc(100% - 21px);
}
